In [1]:
import numpy as np
import pandas as pd

In [9]:
df=pd.read_csv("play_tennis.csv")
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [11]:
df.drop(columns=['day'],inplace=True)

In [13]:
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [14]:
# problem 1
# outlook=sunny,temp=hot,humidity=high,wind=strong
# play or not

In [15]:
# solution
# p(yes|sunny,hot,high,strong)->p(sunny|yes)*p(hot|yes)*(high|yes)*(strong|yes)
#  for no 
# p(no|sunny,hot,high,strong)->p(sunny|no)*p(hot|no)*(high|no)*(strong|no)

# compare and decide which one have the max probality

In [16]:
# value of x's may change according to condtion so

In [17]:
# training 
# lookup table in which probality of evey event get store in dic{overcast|yes:{},overcast|no:{}
# sunny|yes:{},sunny|no:{},rain|yes:{} ,rain|no:{}}

# test

In [27]:
#  finding the probality of yes and no
print(df['play'].value_counts())
py=9/15
pn=5/15
print(py,"and",pn)

play
Yes    9
No     5
Name: count, dtype: int64
0.6 and 0.3333333333333333

In [30]:
# now calucalte the probality for overcast
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [31]:
pon=0  
prn=2/5 
psn=3/5
poy=4/9
pry=3/9
psy=2/9

In [44]:
# calculate the probablity of temp
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [51]:

pcooln=1/5
photn=2/5
pmildn=photn

pcooly=3/9
photy=2/9
pmildy=4/9

In [52]:
pd.crosstab(df["humidity"],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [53]:
phighno=4/5
pnormno=1/5
phighyes=3/9
pnormyes=6/9

In [54]:
pd.crosstab(df["wind"],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [55]:
pstrongno=3/5
pweakno=3/5
pstrongyes=3/9
pweakyes=6/9

In [57]:
# problem 1
# outlook=sunny,temp=hot,humidity=high,wind=strong
ppy=psy*photy*phighyes*pstrongyes
ppn=psn*photn*phighno*pstrongno
if(ppn<ppy):
    print("good to goo")
else:
    print("not payable")
# play or not

good to go